{% extends "base.html.twig" %}
{% set route = app.request.attributes.get('_route') %}
{% set title = route == "figure_create" ? "Nouvelle figure" : "Modifier la figure" %}


{% form_theme figureForm 'bootstrap_4_layout.html.twig' %}

{% block title title %}

{% block body %}

	{% set order = 1 %}

	<div class="container">
		{% set defaultPicture = null %}
		{% if trick is defined %}

			{#----------------------------------EDIT FIGURE--------------------------------------------#}

			{% set picturesArray = trick.pictures %}
			{# loop in pictures to find picture with sort_order = 1 #}
			{% for picture in picturesArray %}
				{% if picture.sortOrder == 1 %}
					{% set defaultPicture = picture %}
				{% endif %}
			{% endfor %}

			{% set pictureJumbotron = defaultPicture ? " /uploads/pictures/" ~ defaultPicture.name : '' %}

			{#------------------------JUMBOTRON---------------------------#}
			<div class="jumbotron align-items-center justify-content-center" style="background: url(' {{ pictureJumbotron|default('/uploads/pictures/fail.jpg') }} ') no-repeat center;" id="topJumbotron">
				<h1 class="display-4" style="color:white">{{trick.title}}
				</h1>

				<div
					class="editButtonMenu">

					{#-----------UPDATE PICTURE --------#}
					{% if defaultPicture %}
						<a data-toggle="collapse" href={{"#update_picture_input" ~ defaultPicture.id }} role="button" aria-expanded="false" aria-controls={{"update_picture_input" ~ defaultPicture.id }}>
							<i class="fas fa-pencil-alt fa-2x" title="remplacer l'image"></i>
						</a>

						{#---------DELETE PICTURE---------#}
						<a href="{{ path('picture_delete', { id: defaultPicture.id }) }}" data-delete>
							<i class="fas fa-trash-alt fa-2x" title="supprimer l'image"></i>
						</a>

						{#!---------UPDATE PICTURE HIDDEN INPUT---------#}
						<div class="collapse" id={{"update_picture_input" ~ defaultPicture.id }}>
							<input type="file"/>
							<div hidden>{{ defaultPicture.id }}</div>
							<div hidden>{{ trick.id }}</div>
							<div hidden>{{ defaultPicture.sortOrder }}</div>
							<!-- Picture sortOrder -->
							<button data-update>Envoyer</button>
						</div>

					{% else %}
						{#!---------NEW-JUMBOTRON PICTURE--------#}
						<a data-toggle="collapse" href="#new_jumbotron_picture" role="button" aria-expanded="false" aria-controls="new_jumbotron_picture">
							<i class="fas fa-pencil-alt fa-2x" title="remplacer l'image"></i>
						</a>


						<div class="collapse" id="new_jumbotron_picture">
							<input type="file" id="update_picture"/>
							<div hidden>{{ null}}</div>
							<div hidden>{{ trick.id }}</div>
							<div hidden>{{1}}</div>
							<!-- Picture sortOrder -->
							<button data-update>Envoyer</button>
						</div>

					{% endif %}

				{% else %}
					{#---------------------------------NEW FIGURE------------------------------------------     #}

					<h1 class="title">Création d'une nouvelle figure de Snowboard</h1>


				{% endif %}

			</div>

		</div>
		<div class="row justify-content-center">

			<div id="alert" class="alert alert-success"></div>
			{% for message in app.flashes('danger') %}
				<div class="flash-info">
					<div class="alert alert-danger">{{ message }}</div>
				</div>
			{% endfor %}

		</div>
		{#-----FLASH MESSAGES------#}

		<div class="container ">
			{{ form_start(figureForm) }}
			<div class="row justify-content-center d-md-none">
				<a data-toggle="collapse" href="#media-block" role="button" aria-expanded="false" aria-controls="media-block">
					<i class="fas fa-images fa-2	x">Voir les Médias</i>
				</a>
			</div>

			<div
				class="row collapse media-block d-md-flex mb-4" id="media-block">

				{# -------------------------FIGURES PICTURES------------------------ #}

				<div class="col-lg-6 pictures-container">

					<div class="row text-center">
						<div class="col">
							<button type="button" class="add-another-picture-widget btn btn-primary" data-list="#pictureList-fields-list">Ajouter une image</button>
						</div>
					</div>
					<div class="row mt-2 justify_content-center">
						<ul id="pictureList-fields-list" data-prototype='{{form_widget(figureForm.pictures.vars.prototype)|e}}' data-widget-tags="{{ '<li></li>'|e }}"></ul>
					</div>


					{% if trick is defined %}
						<div class="row">

							{% for picture in picturesArray|filter(picture => picture.sortOrder != 1) %}
								<div hidden>{{ picture.id }}</div>
								<div class="col-sm-12 col-md-6 col-lg-4 mx-auto">
									<img
									class="img-responsive" width="100%" src="{{ asset('/uploads/pictures/' ~ picture.name) }}" alt="{{"Image numéro" ~ picture.id}}" onclick="window.open(this.src)">

									{#-----------UPDATE PICTURE --------#}
									<a data-toggle="collapse" href={{"#update_picture_input" ~ picture.id }} role="button" aria-expanded="false" aria-controls={{"update_picture_input" ~ picture.id }}>
										<i class="fas fa-pencil-alt fa-2x" title="remplacer l'image"></i>
									</a>
									{#!---------DELETE PICTURE---------#}
									<a href="{{ path('picture_delete', {id: picture.id}) }} "  data-delete>
										<i class="fas fa-trash-alt fa-2x" title="effacer l'image"></i>
									</a>

									{#!---------UPDATE PICTURE HIDDEN INPUT---------#}
									<div class="collapse" id={{"update_picture_input" ~ picture.id }}>
										<input type="file" id="update_picture"/>
										<div hidden>{{ picture.id }}</div>
										<div hidden>{{ trick.id }}</div>
										<div hidden>{{ picture.sortOrder }}</div>
										<!-- Picture sortOrder -->
										<button data-update>Envoyer</button>
									</div>


								</div>

								{% set order = order +1 %}
							{% endfor %}

						</div>
					{% endif %}

				</div>
				{# -------------------------FIGURES PICTURES------------------------ #}


				{# -------------------------FIGURES VIDEOS------------------------ #}
				<div class="col-lg-6 videos-container">
					<div class="row text-center">
						<div class="col">
							<button type="button" class="add-another-collection-widget btn btn-primary" data-list="#videoList-fields-list">Ajouter une vidéo</button>
						</div>
					</div>


					<ul class="mt-2" id="videoList-fields-list" data-prototype='{{form_widget(figureForm.videos.vars.prototype)|e}}' data-widget-tags="{{ '<li></li>'|e }}"></ul>

					<div class="row">
						{% if trick is defined %}
							{% for video in trick.videos %}
								<div class=" col-sm-12 col-md-6 col-lg-4 mx-auto">
									<div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item" src="{{video.url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>
									<a data-toggle="collapse" href={{"#update_video_input" ~ video.id }} role="button" aria-expanded="false" aria-controls={{"update_video_input" ~ video.id }}>
										<i class="fas fa-pencil-alt fa-2x" title="remplacer la vidéo"></i>
									</a>

									<a href="{{ path('video_delete', {id: video.id}) }} " data-delete>
										<i class="fas fa-trash-alt fa-2x" title="supprimer la vidéo"></i>
									</a>


									<div class="collapse" id={{"update_video_input" ~ video.id }}>
										<input type="text" id="newVideoUrl"/>
										<div hidden>{{ video.id }}</div>
										<div hidden>{{ trick.id }}</div>
										<button data-update>Envoyer</button>
									</div>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				{# -------------------------FIGURES VIDEOS------------------------ #}

			</div>


			{{ form_row(figureForm.title) }}
			{{ form_row(figureForm.description) }}


			<div class="row">
				<div class="col-sm-3">
					{{ form_row(figureForm.category) }}
				</div>
				<div class="col d-flex justify-content-end align-items-center form-group">
					{{ form_widget(figureForm.submit) }}
				</div>
			</div>
			{{ form_end(figureForm) }}

		</div>
	{% endblock %}

	{% block javascript %}
		<script src=" {{ asset('js/media_delete.js') }} "></script>
		<script src=" {{ asset('js/media_update.js') }} "></script>
		<script src=" {{ asset('js/add_video.js') }} "></script>
		<script src=" {{ asset('js/add_picture.js') }} "></script>
	{% endblock %}
