{% extends 'base.html.twig' %}

{% block title 'All Tricks' %}
{% block body %}

	<div class="container">
		{% for message in app.flashes('info') %}
			<div class="flash-info">
				<div class="alert alert-success">{{ message }}</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('message') %}
			<div class="flash-info">
				<div class="alert alert-success">{{ message }}</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('danger') %}
			<div class="flash-info">
				<div class="alert alert-danger">{{ message }}</div>
			</div>
		{% endfor %}
		<div class="jumbotron" style="background: url(' {{ lastFigure.picture.name|default('http://placehold.it/1080x800') }} ') no-repeat center;">
			<div class="container-full-bg">
				<h1 class="display-4">{{ lastFigure.title}}</h1>
				<hr>
				<p class="lead">
					{{ lastFigure.description }}
				</p>
				<p class="lead">
					<a href="{{ path('trick_show', { id: lastFigure.id } ) }}" class="btn btn-primary btn-lg">Voir</a>
				</p>
			</div>
		</div>


		<h1 class="text-center">Toutes les figures</h1>

		<div class="container ">
			<div class="row mt-4">
				{% for figure in figures %}
					<div class="col-md-6 col-lg-4">
						<div class="card mb-4 ">
							<img class="card-img-top" src="{{ figure.picture.name|default('http://placehold.it/300x200') }}" alt="{{ figure.picture.alt|default('Une image de la figure {{figure.title}} ') }} ">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{ path( 'trick_show', { id: figure.id } ) }}">
										{{ figure.title }}
									</a>
								</h5>
								<p class="card-text">
									{{ figure.description|u.truncate(90, '...') }}
								</p>
								<a href="{{ path('trick_show', { id: figure.id } ) }}" class="btn btn-primary btn-lg">Voir</a>
							</div>
						</div>
					</div>
				{% endfor %}

				<!-- SLICE FIGURES -->
				{% if sliceFigures is defined %}

					{% for sliceFigure in sliceFigures %}

						<div class="col-md-6 col-lg-4">
							<div class="card mb-4 ">
								<img class="card-img-top" src="{{ sliceFigure.picture.name|default('http://placehold.it/300x200') }}" alt="{{ sliceFigure.picture.alt|default('Une image de la figure {{sliceFigure.title}} ') }} ">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{ path( 'trick_show', { id: sliceFigure.id } ) }}">
											{{ sliceFigure.title }}
										</a>
									</h5>
									<p class="card-text">
										{{ sliceFigure.description|u.truncate(90, '...') }}
									</p>
									<a href="{{ path('trick_show', { id: sliceFigure.id } ) }}" class="btn btn-primary btn-lg">Voir</a>
								</div>
							</div>
						</div>

					{% endfor %}
				{% endif %}

			</div>
			<div class="row">
				<div class="col text-center">
					<a class="btn btn-success" {% if firstFigure is defined %} href=" {{ path('load_more', {offset: firstFigure.id } ) }}" {% else %} href="/2" {% endif %} id="js-load">
						Load More</a>
				</div>
			</div>
		</div>
	</div>
</div>

});{% endblock %}
