{% extends 'base.html.twig' %}

{% block title 'All Tricks' %}
{% block body %}

	<div class="container">
		{% for message in app.flashes('info') %}
			<div class="flash-info">
				<div class="alert alert-success">{{ message }}</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('message') %}
			<div class="flash-info">
				<div class="alert alert-success">{{ message }}</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('danger') %}
			<div class="flash-info">
				<div class="alert alert-danger">{{ message }}</div>
			</div>
		{% endfor %}

		<!-- FIGURE A LA UNE -->
		<div class="jumbotron" style="background: url(' {{ " /uploads/pictures/" ~ lastFigure.pictures.first.name|default('http://placehold.it/1080x800') }} ') no-repeat center;">
			<div class="container-full-bg">
				<h1 class="display-4">
					<a href="{{ path( 'trick_show', { id: lastFigure.id } ) }}" style="color: white">
						{{ lastFigure.title }}
					</a>
				</h1>
				<hr>
				<p class="lead">
					{{ lastFigure.description }}
				</p>
				<p class="lead">
					<a href="{{ path('trick_show', { id: lastFigure.id } ) }}" class="btn btn-primary btn-lg">Voir</a>
					{% if app.user %}
						<a href="{{ path('figure_edit', { id: lastFigure.id }) }}" class="btn btn-light btn-sm">Modifier</a>
						<a href="{{ path('figure_delete', { id: lastFigure.id }) }}" class="btn btn-warning btn-sm">Supprimer</a>
					{% endif %}
				</p>
			</div>
		</div>

		<!-- TOUTES LES FIGURES -->
		<h1 class="text-center">Toutes les figures</h1>

		<div class="container">
			<div class="row mt-4" id="js-more">

				{% for figure in figures %}
					{% if figure.pictures is not empty %}
						{% set picturePath =  "/uploads/pictures/" ~ figure.pictures.first.name %}
					{% endif %}

					<div class="col-md-6 col-lg-4">
						<div class="card mb-4 ">
							<img class="card-img-top" src="{{picturePath|default('http://placehold.it/300x200') }}" alt="Une image de la figure {{figure.title}}">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{ path( 'trick_show', { id: figure.id } ) }}">
										{{ figure.title }}
									</a>
								</h5>
								<p class="card-text">
									{{ figure.description|u.truncate(90, '...') }}
								</p>
								<a href="{{ path('trick_show', { id: figure.id } ) }}" class="btn btn-primary btn-lg">Voir</a>
								{% if app.user %}
									<a href="{{ path('figure_edit', { id: figure.id }) }}" class="btn btn-light btn-sm">Modifier</a>
									<a href="{{ path('figure_delete', { id: figure.id }) }}" data-delete data-token="{{ csrf_token('delete' ~ figure.id)}}" class="btn btn-warning btn-sm">Supprimer</a>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
			<div class="row">
				<div class="col text-center">
					<a class="btn btn-success" {% if firstFigure is defined %} href=" {{ path('load_more', {offset: firstFigure.id } ) }}" {% else %} href="/more/2" {% endif %} id="js-load">
						Load More</a>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}{% block javascript %}
<script src=" {{ asset('/js/loadMore.js') }}"></script>
<script>
	window.user = {{ user|raw }};
</script>
<script src=" {{ asset('js/delete.js') }} "></script>{% endblock %}
