{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title "Profil" %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			{{ form_start(form) }}

			<h1>Page de profil de
				{{user.username}}</h1>
			<img src=" {{ asset('/uploads/pictures/' ~ user.pictures.first.name )}}" alt="">
			<div class="row">
				{{ form_widget(form.pictures) }}
			</div>

			{{ form_end(form) }}
		</div>
	</div>
	{# <h2>Image de profil</h2>
							<img src="{{ userPicture|default('https://eu.ui-avatars.com/api/?name=' ~ comment.author.username) }}" alt="">
						    <input type="file" id="update-picture">
						    <a href=" {{ path('update_user_picture') }}" data-update>Ajouter/mettre à jour votre image</a>  #}
{% endblock %}
