{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title "Profil" %}

{% block body %}
	<div class="container ">
		<div class="row justify-content-center">

			<div class="col-sm-8 text-center" >
				<h1>Image de profil de
					{{user.username}}</h1>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-sm-8 text-center">
				{% set userPicture = user.pictures.count > 0 ? "/uploads/pictures/" ~ user.pictures.first.name : null %}
				<img src=" {{ userPicture|default('https://eu.ui-avatars.com/api/?name=' ~ user.username) }}" alt="{{"image de profil de " ~ user.username}}" class="d-flex mr-3 rounded-circle mx-auto mt-4">

<<<<<<< HEAD
				<button class="btn btn-primary mt-4 mb-3" data-toggle="collapse" href="#userPictureInput">Changer mon image</button>
				<div class="row collapse justify-content-center" id="userPictureInput">

=======
				<button class="btn btn-primary mt-4" data-toggle="collapse" href="#userPictureInput">Changer mon image</button>
				<div class="row collapse" id="userPictureInput">
>>>>>>> 5a0b5e6019b212f723096e827ceae4bba5d0b860
					{{ form_start(form) }}

					{{ form_end(form) }}
				</div>
			</div>
		</div>


	</div>
{% endblock %}
