{% extends 'base.html.twig' %}

{% form_theme commentForm 'bootstrap_4_layout.html.twig' %}


{% block title %}
	{{ figure.title }}
{% endblock %}

{% block body %}


	<div class="container">
		{% for message in app.flashes('message') %}
			<div class="flash-info">
				<div class="alert alert-success">{{ message }}</div>
			</div>
		{% endfor %}
		<div class="row">
			<div class="col-lg-8">
				<h1 class="display-4 mt-4">{{ figure.title|title}}</h1>
				<p>Categorie :
					{{ figure.category.title }}par</p>
				<p class="lead">{{ figure.author.username }}</p>
				<!-- Date/Time -->
				<div class="metadata">
					Posté le
					{{ figure.createdAt|date('d/m/Y') }}
					à
					{{ figure.createdAt|date('H:i') }}
				</div>

				<hr>
				<img class="img-fluid rounded" src="{{ figure.picture.name|default('http://placehold.it/1000x500') }}" alt="Une image de la figure {{figure.title}} ') }} ">
				<hr>

				<!-- Post Content -->
				<p class="lead">{{ figure.description }}</p>
			</div>
		</div>


		<hr>

		<h3>Commentaires</h3>
		<hr>
		{{ form_start(commentForm) }}
		<div class="row d-flex align-items-center">
			<div class="col-md-10">
				{{ form_row(commentForm.content, {'label': 'Message', 'attr': {'placeholder' : 'Veuillez écrire votre message...' } }) }}
			</div>
			<button type="submit" class="btn btn-success" >Envoyer</button>
		</div>

		{{ form_end(commentForm) }}


		{% for comment in figure.comments %}
			{% if (comment.activatedAt) %}
			<div class="media mb-4">
				<img src="" class="d-flex mr-3 rounded-circle">
				<div class="media-body">

					<h5 class="mt-0">{{ comment.author.username }}</h5>
					(<small>{{comment.createdAt | date('d/m/Y à H:i')}}
					</small>)


					{{ comment.content | raw }}

				</div>
			</div>
			{% endif %}
		{% endfor %}
	</div>
	<hr>
</div>{% endblock %}
