{% extends "base.html.twig" %}

{% form_theme emailForm 'bootstrap_4_layout.html.twig' %}

{% block title %}
	Mot de passe oublié
{% endblock %}

{% block body %}
	<div class="container mt-4">
		{% for message in app.flashes('info') %}
			<div class="flash-info">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('warning') %}
			<div class="flash-danger">
				{{ message }}
			</div>
		{% endfor %}


		<div class="container">
			<div class="row justify-content-center registration_form">
				<div class="col-lg-6 ">
					<h1 class="mb-2">Mot de passe oublié</h1>
					<p>Si vous voulez réinitialiser votre mot de passe veuillez entrer votre adresse email pour confirmer votre identité.</p>

					{{ form_start(emailForm) }}


					{{ form_row(emailForm.email, {'label': 'Email',  'attr': {'placeholder' :'Veuillez entrer votre email ...'} }) }}

					{{ form_end(emailForm) }}
				</div>
			</div>
		</div>

	{% endblock %}
