{% extends 'base.html.twig' %}

{% set maxPerPage = 5 %}


{% block title %}
	Administration
{% endblock %}

{% block body %}
	<div class="container">


		<div class="mb-5">
			<div>
				<h2>Figures</h2>
				<table class="table" id="js-figures">
					<thead>
						<tr>
							<th>ID</th>
							<th>Titre</th>
							<th>Categorie</th>
							<th>Date de dernière modification</th>
							<th>Auteur</th>
							<th>Activation</th>
						</tr>
					</thead>

						{% for figure in figures %}
							<tbody>
								<tr>
									<td>{{figure.id }}</td>
									<td>{{figure.title }}</td>
									<td>{{figure.category.title}}</td>
									<td>{{figure.createdAt|date }}</td>
									<td>{{figure.author.username }}</td>
									<td>
										{% if figure.getActivatedAt is not null %}
											<a href="{{ path('admin_figure_desactivate', { id: figure.id }) }}" activation="true"  class="btn btn-warning btn-sm">Désactiver</a>
											<a href="{{ path('admin_figure_activate', { id: figure.id }) }}" hidden activation="false"  class="btn btn-success btn-sm">Activer</a>
										{% else %}
											<a href="{{ path('admin_figure_desactivate', { id: figure.id }) }}" hidden activation="true"  class="btn btn-warning btn-sm">Désactiver</a>
											<a href="{{ path('admin_figure_activate', { id: figure.id }) }}" activation="false" class="btn btn-success btn-sm">Activer</a>
										{% endif %}
									</td>
								</tr>
							</tbody>
						{% endfor %}
					

				</table>
			</div>

				<input type="text" hidden data-figurescount={{ figuresCount }}>

				<a href="" data-figureBtns class="link_blog"><i class="fas fa-angle-left"></i></a>
				
				{% for i in 1..((figuresCount / maxPerPage)|round(0,'ceil')) %}
					<a href="" data-figureBtns class="link_blog">{{i}}</a>
				{% endfor %}

				<a href="" data-figureBtns class="link_blog"><i class="fas fa-angle-right"></i></a>
		</div>


		<div class="mb-5">
			<div>
				<h2>Commentaires</h2>
				<table class="table" id="js-comments">
					<thead>
						<tr>
							<th>ID</th>
							<th>Contenu</th>
							<th>Date</th>
							<th>Auteur</th>
							<th>Activation</th>
						</tr>
					</thead>
						{% for comment in comments %}
							<tbody>
								<tr>
									<td>
										{{comment.id}}</td>
									<td>
										{{comment.content}}</td>
									<td>
										{{comment.createdAt | date}}</td>
									<td>
										{{comment.author.username}}</td>
									<td>
										{% if comment.getActivatedAt is not null %}
											<a href="{{ path('admin_comment_desactivate', { id: comment.id }) }}" activation="true" class="btn btn-warning btn-sm">Désactiver</a>
											<a href="{{ path('admin_comment_activate', { id: comment.id }) }}" hidden activation="false"  class="btn btn-success btn-sm">Activer</a>
										{% else  %}
											<a href="{{ path('admin_comment_desactivate', { id: comment.id }) }}" hidden activation="true" class="btn btn-warning btn-sm">Désactiver</a>
											<a href="{{ path('admin_comment_activate', { id: comment.id }) }}" activation="false" class="btn btn-success btn-sm">Activer</a>
										{% endif %}
									</td>
								</tr>
							</tbody>
						{% endfor %}
				</table>

			</div>
				<script>
				let commentsCurrentPage = 1;
				</script>
				
				<input type="text" hidden data-commentsCount={{ commentsCount }}>

				<a href="" data-commentBtns class="link_blog"><i class="fas fa-angle-left"></i></a>
				{% for i in 1..((commentsCount / maxPerPage)|round(0,'ceil')) %}
					<a href="" data-commentBtns class="link_blog">{{i}}</a>
				{% endfor %}
				<a href="" data-commentBtns class="link_blog"><i class="fas fa-angle-right"></i></a>
		</div>
		<div class="mb-5">
			<div>
				<h2>Utilisateurs</h2>
				<table class="table" id="js-users">
					<thead>
						<tr>
							<th>ID</th>
							<th>Pseudonyme</th>
							<th>Date d'inscription</th>
							<th>Email</th>
							<th>Rôle</th>
							<th>Activation</th>
						</tr>
					</thead>
						{% for user in users %}
							<tbody>
								<tr>
									<td>{{user.id}}</td>
									<td>{{user.username}}</td>
									<td>{{user.createdAt | date}}</td>
									<td>{{user.email}}</td>
									<td>{{user.roles[0]}}</td>
									<td>
										{% if user.token is null %}
											<a href="{{ path('admin_user_desactivate', { id: user.id }) }}" activation="true" class="btn btn-warning btn-sm">Désactiver</a>
											<a href="{{ path('admin_user_activate', { id: user.id }) }}" hidden activation="false" class="btn btn-success btn-sm">Activer</a>
										{% else  %}
											<a href="{{ path('admin_user_desactivate', { id: user.id }) }}" hidden activation="true" class="btn btn-warning btn-sm">Désactiver</a>
											<a href="{{ path('admin_user_activate', { id: user.id }) }}" activation="false" class="btn btn-success btn-sm">Activer</a>
										{% endif %}
									</td>
								</tr>
							</tbody>
						{% endfor %}
				</table>
			</div>

				<script>
				let usersCurrentPage = 1;
				</script>
				
				<input type="text" hidden data-usersCount={{ usersCount }}>

				<a href="" data-userBtns class="link_blog"><i class="fas fa-angle-left"></i></a>
				{% for i in 1..((usersCount / maxPerPage)|round(0,'ceil')) %}
					<a href="" data-userBtns class="link_blog">{{i}}</a>
				{% endfor %}
				<a href="" data-userBtns class="link_blog"><i class="fas fa-angle-right"></i></a>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src=" {{ asset('js/activation.js') }} "></script>
	<script src=" {{ asset('js/admin_pagination.js') }}"></script>
{% endblock %}
