
<h1>Réinitialiser votre mot de passe {{ username }} </h1>
<p>
	Bonjour, {{ username }} !
</p>

<p>
	Pour modifier votre mot de passe , merci de cliquer sur le lien suivant:
</p>


<p>
	<a href="{{ url }}">Activer mon compte</a>
	Ce lien sera valide jusqu' au
	{{ expiration_date|date('d,m,Y') }} à
	{{ expiration_date|date('H:i') }}
</p>
